USE [StudentManagementDB]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 10/30/2025 12:09:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[DeptId] [char](3) NOT NULL,
	[DeptName] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DeptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Major]    Script Date: 10/30/2025 12:09:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Major](
	[MajorId] [char](5) NOT NULL,
	[MajorName] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MajorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 10/30/2025 12:09:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](35) NOT NULL,
	[Gender] [nvarchar](3) NOT NULL,
	[DOB] [date] NOT NULL,
	[Skills] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
	[MajorId] [char](5) NOT NULL,
	[DeptId] [char](3) NOT NULL,
 CONSTRAINT [PK__Student__3214EC0709DB9714] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Department] ([DeptId], [DeptName]) VALUES (N'AC ', N'Accounting Department')
INSERT [dbo].[Department] ([DeptId], [DeptName]) VALUES (N'SE ', N'Software Department')
INSERT [dbo].[Department] ([DeptId], [DeptName]) VALUES (N'SS ', N'Student Services Department')
GO
INSERT [dbo].[Major] ([MajorId], [MajorName]) VALUES (N'AI001', N'Artificial Intelligent Japan')
INSERT [dbo].[Major] ([MajorId], [MajorName]) VALUES (N'AI002', N'Artificial Intelligent USA')
INSERT [dbo].[Major] ([MajorId], [MajorName]) VALUES (N'BA001', N'Business Administration Japan')
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([Id], [Name], [Gender], [DOB], [Skills], [Address], [MajorId], [DeptId]) VALUES (61, N'Vũ Văn Huy', N'Nam', CAST(N'2000-11-13' AS Date), N'Python', N'Bình Lục - Hà Nam', N'AI001', N'SE ')
INSERT [dbo].[Student] ([Id], [Name], [Gender], [DOB], [Skills], [Address], [MajorId], [DeptId]) VALUES (62, N'Nguyễn Thị Minh Thư', N'Nữ', CAST(N'2001-06-03' AS Date), N'.NET', N'Yên Thế - Bắc Giang', N'SE001', N'AC ')
INSERT [dbo].[Student] ([Id], [Name], [Gender], [DOB], [Skills], [Address], [MajorId], [DeptId]) VALUES (63, N'Phạm Đức Long', N'Nam', CAST(N'2000-09-25' AS Date), N'C++', N'Thường Tín - Hà Nội', N'AI002', N'SE ')
SET IDENTITY_INSERT [dbo].[Student] OFF
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK__Student__DeptId__4E88ABD4] FOREIGN KEY([DeptId])
REFERENCES [dbo].[Department] ([DeptId])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK__Student__DeptId__4E88ABD4]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK__Student__MajorId__4D94879B] FOREIGN KEY([MajorId])
REFERENCES [dbo].[Major] ([MajorId])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK__Student__MajorId__4D94879B]
GO
